<div>
  <img src="/assets/profile-pic.jpg" alt="Headshot of Swapnil Mishra" />
  <p>
    I am Swapnil, a <a href="/about" target="_blank" rel="noopener"
      >Software developer</a
    > who lives in Berlin and <a href="/blog" target="_blank" rel="noopener"
      >talks</a
    > about Web, Frontend and Javascript.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
